.page {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.page__header_grey {
    background-color: #F6F2F2;
}

/* Header */

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background: #000000;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;
}

.menu__item:hover {
    background-color: #FF3F40;
}

.menu__link {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/* Into */

.page__content {
    flex-grow: 1;
}

.intro {
    padding-top: 102px;
    padding-bottom: 94px;
}

.intro__content {
    position: relative;
    bottom: 12px;
    width: 616px;
    margin-bottom: 20px;
    margin-right: 74px;
}

.intro__heading {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase; 
    letter-spacing: 1.5px;
}

.intro__text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 200;
    line-height: 28px;
    margin: 0;
    max-width: 520px;
    margin-bottom: 62px;
    margin-top: 36px;
}

.action-button {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: inline-block;
    background-color: #FF2D2D;
    padding: 16px 64px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
} 

.button__red {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF2D2D;
}

.intro__image {
    width: 554px;
    height: 360px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*Services*/

.services {
    padding-top: 106px;
    padding-bottom: 52px;
    border-bottom: 1px solid #ECECEC;
}

.services__lead {
    flex: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.services__heading {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 6px;
    margin-bottom: 28px;
    text-transform: uppercase;
    font-size: 42px;
}

.services__text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 28px;
    margin-bottom: 50px;
}

.action-button_white {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FF2D2D;
    background-color: #FFFFFF;
    border: 2px solid #FF0000;
}

.services__blocks {
    flex: 1 1;
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
}

/*Service*/

.service {
    flex: 1 1 280px;
    width: 288px;
    margin-bottom: 50px;
    margin-left: 16px;
}

.service__heading {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
}

.service__heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 22px;
}

.service__text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 28px;
}

.service__heading_manage::before {
    content: url(../images/service-1.svg);
}

.service__heading_ux::before {
    content: url(../images/service-2.svg);
}

.service__heading_logo::before {
    content: url(../images/service-3.svg);
}

.service__heading_anim::before {
    content: url(../images/service-4.svg);
}

/* Features products */

.feature {
    padding-top: 104px;
    padding-bottom: 52px;
}

.feature__header {
    width: 100%;
    text-align: center;
    margin-bottom: 66px;
}

.feature__heading {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    padding-left: 14px;
    margin-bottom: 16px;
}

.feature__text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    max-width: 500px;
    margin: 0 auto 30px;
    
}

.feature__line {
    border: 1px solid #FF2D2D;
    width: 134px;
    min-height: 4px;
}

.products__filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-bottom: 60px;
}

.products__link {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: relative;
    text-transform: uppercase;
    left: 46px;
    color: #000000;
    margin-right: 56px;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    opacity: 0.7;
}

.products__link_active {
    color: #FF2D2D;
    opacity: 1;
}

.products__link:hover {
    color: #FF2D2D;
}

.products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    flex: 1 1 24%;
    max-width: 298px;
    height: 292px;
    margin-bottom: 18px;
    object-fit: cover;
}

.product:hover {
    cursor: pointer;
    max-width: 320px; 
}


/* Team */

.team {
    padding-top: 60px;
    padding-bottom: 12px;
}

.team__header {
    width: 100%;
    text-align: left;
    margin-bottom: 66px;
}

.team__heading {
    margin-bottom: 24px;
}

.team__text {
    margin: 0;
    line-height: 28px;
    max-width: 460px;
    margin-bottom: 30px;
}

.feature__line {
    border: 1px solid #FF2D2D;
    width: 134px;
    min-height: 4px;
}

.team__line {
    border: 1px solid #FF2D2D;
    width: 134px;
    max-height: 4px;
    margin-left: 0;
}

.team__members {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 462px;
}

.team__selected-photo {
    flex-shrink: 0;
    width: 322px;
    height: 462px;
    margin-right: 66px;
    background-color: #FF3F40;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: start;
}

.team__main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@supports (display: grid) and (display: contents) {
    .team__members {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
    .team__main-content {
        display: contents;
    }
}

.team__selected-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
    max-width: 662px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.team__selected-about {
    margin: 0;
    line-height: 28px;
    margin-bottom: 34px;
}

.team__selected-name {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin-right: 30px;
    bottom: 6px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.team__selected-link {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-style: 18px;
    font-style: italic;
    text-decoration: none;
    margin-right: 30px;
}

.team__selected-link:hover {
    text-decoration: underline;
}

.members {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    grid-row: 2/ 3;
}

.member {
    position: relative;
    margin-top: 18px;
}

.member:not(:last-child) {
    margin-right: 18px;
}

.member__name {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 38px;
    margin: 0;
    text-align: center;
    background-color: #000000;
    opacity: 0.5;
}
