/* :root {
    --primary-bg-color: #2D2D2D;
} */

ul {
    padding: 0;
    margin: 0;
}

@font-face {
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
}

.header__line {
    width: 134px;
    border: 1px solid #FF2D2D;
}

.section__heading {
    color: #000000;
    margin: 0;
    font-weight: 600;
    line-height: 56px;
    font-size: 42px;
    text-transform: uppercase;
}

.page {
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

/* .page__header_grey {
    background-color: #F6F2F2;
} */


/* Header */

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background: #000000;
      /* margin-top: 30px; */
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    /* padding: calc(1vw + 5px);
    margin: calc(1vw + 5px); */
}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;
}

.menu__item:hover {
    background-color: #FF3F40;
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/* Into */

/* .page__content {
    flex-grow: 1;
} */

.intro {
    padding-top: 102px;
    padding-bottom: 94px;
}

.intro__content {
    position: relative;
    bottom: 12px;
    max-width: 616px;
    margin-bottom: 20px;
    margin-right: 74px;
}

.intro__heading {
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase; 
    letter-spacing: 1.5px;
}

.intro__text {
    font-weight: 200;
    line-height: 28px;
    margin: 0;
    max-width: 520px;
    margin-bottom: 62px;
    margin-top: 36px;
}

.action-button {
    box-sizing: border-box;
    display: inline-block;
    background-color: #FF2D2D;
    padding: 16px 64px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
} 

.action-button__red {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF2D2D;
}

.intro__image {
    width: 554px;
    height: 360px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

/*Services*/ 

.services {
    padding-top: 106px;
    padding-bottom: 52px;
    border-bottom: 1px solid #ECECEC;
}

.services__lead {
    flex: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.services__heading {
    position: relative;
    bottom: 6px;
    margin-bottom: 28px;
    text-transform: uppercase;
    font-size: 42px;
}

.services__text {
    margin: 0;
    line-height: 28px;
    margin-bottom: 50px;
}

.action-button_white {
    font-size: 18px;
    color: #FF2D2D;
    background-color: #FFFFFF;
    border: 2px solid #FF0000;
}

.services__blocks {
    flex: 1 1;
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
}

/*Service*/

.service {
    flex: 1 1 280px;
    width: 288px;
    margin-bottom: 50px;
    margin-left: 16px;
}

.service__heading {
    margin: 0;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 24px; 
    margin-bottom: 12px;
}

.service__heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 22px;
}

.service__text {
    margin: 0;
    line-height: 28px;
}

.service__heading_manage::before {
    content: url(../images/service-1.svg);
}

.service__heading_ux::before {
    content: url(../images/service-2.svg);
}

.service__heading_logo::before {
    content: url(../images/service-3.svg);
}

.service__heading_anim::before {
    content: url(../images/service-4.svg);
}

/* Features products */

.feature {
    padding-top: 104px;
padding-top: 52px;
}

.feature__header {
    width: 100%;
    text-align: center;
    margin-bottom: 66px;
}

.feature__heading {
    font-size: 42px;
    padding-left: 14px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.feature__text {
    font-size: 16px;
    line-height: 28px;
    max-width: 500px;
    margin: 0 auto 30px;   
}

.products__filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-bottom: 60px;
}

.products__link {
    position: relative;
    text-transform: uppercase;
    left: 46px;
    color: #000000;
    margin-right: 56px;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    opacity: 0.7;
}

.products__link_active {
    color: #FF2D2D;
    opacity: 1;
}

.products__link:hover {
    color: #FF2D2D;
}

.products {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.product {
    flex: 1 1 24%;
    max-width: 298px;
    height: 292px;
    margin-bottom: 18px;
    object-fit: cover;
}

.product:hover {
    cursor: pointer;
    max-width: 320px; 
}


/* Team */

.team {
    padding-top: 60px;
    padding-bottom: 12px;
}

.team__header {
    width: 100%;
    text-align: left;
    margin-bottom: 66px;
}

.team__heading {
    text-transform: uppercase;
    margin-bottom: 24px;
}

.team__text {
    font-size: 16px;
    margin: 0;
    line-height: 28px;
    max-width: 460px;
    margin-bottom: 30px;
}

.team__line {
    margin-left: 0;
}

.team__members {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 462px;
}

.team__selected-photo {
    flex-shrink: 0;
    max-width: 322px;
    height: 462px;
    margin-right: 66px;
    background-color: #FF3F40;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: start;
}

.team__main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@supports (display: grid) and (display: contents) {
    .team__members {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
    .team__main-content {
        display: contents;
    }
}

.team__selected-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
    max-width: 662px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.team__selected-about {
    margin: 0;
    line-height: 28px;
    margin-bottom: 34px;
}

.team__selected-name {
    margin-right: 30px;
    bottom: 6px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.team__selected-link {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-style: 18px;
    font-style: italic;
    text-decoration: none;
    margin-right: 30px;
}

.team__selected-link:hover {
    text-decoration: underline;
}

.members {
    display: flex;
    height: 290px;
}

.member__photo {
    height: 100%;
}

.member {
    position: relative;
    margin-top: 18px;
}

.member:not(:last-child) {
    margin-right: 18px;
}

.member__name {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 38px;
    margin: 0;
    text-align: center;
    background-color: #000000;
    opacity: 0.5;
}

.member:hover > .member__name {
    visibility: visible
}

.member_photo {
    display: block;
    width: 198px;
    height: 218px;
    background-color: gray;
}

/* Subscribe */

.subscribe {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: #2D2D2D;
    padding-top: 124px;
    padding-bottom: 140px;
}

.subscribe__heder {
    max-width: 1250px;
    margin: 0 auto;
    text-align: center;

}

.subscribe__headind {
    color: #FFFFFF;
    letter-spacing: 1px; 
    text-align: center;
}

.subscribe__text {
    margin: 0;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.subscribe__form {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.subscribe__input {
    color: #2C2C2C;
    display: flex;
    align-items: center;
    flex: 0 1 526px;
    min-height: 78px;
    padding: 0;
    padding-right: 22px;
    padding-left: 36px; 
    border: none;
    background-color: #FFFFFF;
    margin-bottom: 16px;
    border-radius: 5px;
}

.subscribe__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    width: 218px;
    min-height: 78px;
    border-radius: 5px;
    border: none;
    background-color: #FF2D2D;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 56px;
}

/* Feedback contacts */

.feedback-contacts {
    /* display: flex; */
    display: grid;
    justify-content: center;
    align-items: flex-end;
    padding-top: 92px;
    padding-bottom: 110px;
    overflow: hidden;
    grid-template-columns: 1fr 732px 108px 412px 1fr;
    grid-template-rows: repeat(2, auto); 
} 

.feedback-contacts::after {
    height: 100%;
    background-color: #2D2D2D;
    content: '';
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

/* Feedback */

/* .feedback__left-box {
    flex: 1 1 auto;
} */

.feedback {
    column-gap: 108px;
    grid-column: 2 / 3;
    grid-row: 1 / 3; 
}

.feedback__header {
    margin-bottom: 52px;
}


.feedback__heading {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 26px;
}


.feedback__text {
    margin: 0;
    line-height: 28px;
    max-width: 750px;
    margin-bottom: 46px;
}

.feedback__line {
    margin-left: 0;
}

.feedback__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 750px;
    margin-right: 106px;
    padding-left: 0;
    padding-right: 0;
}

.feedback__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback__input {
    color: #8e8e8e;
    box-sizing: border-box;
    padding-right: 54px;
    padding-right: 54;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.feedback__name,
.feedback__mail {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 338px;
    height: 68px;
    background-color: #f3f3f3;
    padding: 22px;
}

.feedback__message {
    resize: none;
    font-size: 16px;
    width: 100%;
    max-width: 734px;
    height: 252px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-bottom: 44px;
    margin-top: 44px;
    padding: 22px;
}

.feedback__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 732px;
    height: 74px;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #FF3B3B;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
} 

/* Contacts */

.contacts {
    box-sizing: border-box;
    position: relative;
    background-color: #2D2D2D;
    padding: 126px 52px 126px 78px;
    min-width: 580px;
    min-height: 486px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.contacts__heading {
    color: #FFFFFF;
    font-size: 18;
    margin-bottom: 18px;
}

.contacts__address {
    line-height: 1.75;
}

.contacts__line {
    color: #FFFFFF;
    margin: 0;
    line-height: 1.75;
    margin-bottom: 17px;
}

/* .feedback__right-box {
    min-height: 481px;
    flex: 1 1 auto;
} */

/* .contacts__decor {
    background-color: #2D2D2D;
} */

.contacts::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%);
    width: 100vw;
    height: 100vm;
    background-color: #2C2C2C;
}

/* Footer */

.footer{
    background-color: #2D2D2D;
    padding: 0 1vw;
}

.footer__content {
    box-sizing: border-box;
    padding: 20px 0 0;
    color: #B8B8B8; 
    /* color: #e0e0e0; */
    min-height: 112px;
    background-color: #2D2D2D;
    align-items: center;
}

.footer__copyright {
    margin: 0;
    line-height: 26px;
}

.footer__link {
    display: inline-block;
}

.footer__social-links > .footer__link:not(:last-child) {
    margin-right: 18px;
}

/* Responsive */

@media screen and (max-width: 1286px) {
    .intro {
        flex-wrap: nowrap;
    }

    .intro__content {
        width: 50%;
        box-sizing: border-box;
        margin-right: 0;
        padding-right: 16px;
    }

    .intro__heading {
        font-size: 5vw;
    }

    .intro__image {
        width: 100%;
        height: auto;
    }

    .products {
        justify-content: flex-start;
    }

    .product {
        max-width: 100%;
        margin-right: 10px;
    }

    .feedback {
        margin: 0;
        margin-bottom: 30px;
        padding: 0 1vw;
        grid-column: 1 / 6;
        grid-row: 1 / 2;
    }

    /* .feedback__body {
        margin-right: 0;
    } */

    .feedback-contacts {
        flex-wrap: wrap;
        padding-left: initial;
        padding-right: initial;
        padding-bottom: 0;
        grid-template-columns: 100%;
    }

    .feedback__left-box {
        flex: 0 1 auto;
    }

    .contacts {
        width: 100%;
        max-width: 100%;
        grid-column: 1 / 6;
        grid-row: 2 / 3;
    }

    .feedback-contacts::after {
        content: initial;
    }
}

@media screen and (max-width: 908px){
    .services__lead,
    .services__blocks {
        width: 100%;
        max-width: 100%;
    }
    .subscribe__headind {
        line-height: 50px;
    }
}

@media screen and (max-width: 900px){
    .products__item {
        width: 100%;
        text-align: center;
    }
    .service {
        justify-content: center;
    }
}

@media screen and (max-width: 855px) {
    .team__members {
    grid-template-columns: 100%;
    grid-template-columns: auto;
    }
    .team__selected-photo {
        grid-row: 1 / 2;
        margin-bottom: 18px;
        margin-right: 0;
    }
    .team__selected-info {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .members {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

@media screen and (max-width: 800px) {
    .serviservices__lead {
        width: 100%;
        max-width: 100%;
    }
    .services__blocks {
        width: 100%;
        max-width: 100%;
    }
    .contacts {
        padding: 1vw;
    }
}

@media screen and (max-width: 760px) {
    .feedback__name,
    .feedback__mail,
    .feedback__message {
        width: 100%;
        margin-top: 10px;
    }
    .feedback__name {
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .header {
        padding-left: 20px;
    }
    .intro {
        flex-wrap: wrap;
    }
    .intro__content {
        width: 100%;
    }
    .intro__link {
        width: 100%;
    }
    .intro__heading {
        font-size: 40px;
    }
}

/* Popup-menu */

.popup-menu {
    display: none;
}

.popup-menu__button {
    z-index: 1;
    display: none;
    padding: 0;
    min-width: 140px;
    height: 50px;
    background-image: url('../images/burger-menu.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .popup-menu__button {
        display: block;
    }
    .menu {
      /* display: none; */
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .popup-menu {
        position: relative;
        align-self: center;
        display: flex;
        justify-content: center;
    }
    .popup-menu__list {
        visibility: visible;
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        z-index: 1;
        min-width: 140px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #000000;
        transition: visibilitu, transform 1s, 0.5s ease-in-out;
    }
}

.hide-popup {
    transform: translateY(-50px);
    z-index: -1;
    visibility: hidden;
}

.popup-menu__item {
    display: flex;
    width: 150px;
    align-items: stretch;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    min-height: 90px;
    font-size: 20px;
}

.popup-menu__item:hover {
    background-color: #FF3F40;
}

.popup-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}